.top-container {
    text-align: center;
    color: #393E46;
}

.main {
    display: flex;
    /* flex-wrap: wrap; */
    overflow: auto;
    max-width: 100vw;
    background-color: #222831;
    border-radius: 30px;
    padding: 5px;
}

.heading {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .top-container {
        max-width: 100vw;
        padding: 3px;
        margin-top: 5px;
    }
}