.container {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #393E46;
    border-radius: 20px;
    box-shadow: #535861 2px 2px 2px;
    padding: 10px;
    width: 100vw;
    height: 350px;
}

.title {
    color: #EEEEEE;
}

.title h2 {
    font-size: medium;
}

.image img{
    border-radius: 15px;
    max-height: 250px;
    max-width: 200px;
}

@media screen and (min-width: 600px) {
    .container {
        width: 250px;
    }
}