header {
  background-color: #222831;
  box-shadow: #3d4146 5px 5px 5px;
  height: 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: auto;
  max-width: 60rem;
  overflow: hidden;
}

a {
  border: none;
  padding: 5px;
  color: #EEEEEE;
  font-size: large;
  text-decoration: none;
}

.center ul {
  list-style: none;
  display: flex;
}

.center ul li {
  margin: auto 10px;
}

a:hover,
.active {
  border-radius: 10px;
  font-weight:bolder;
  text-decoration: underline;
}

.right input{
    border-radius: 30px;
    padding: 5px;
}

.icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .center, .right {
        display: none;
    }

    a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .center.responsive, .right.responsive {
        position: relative;
    }
    .center.responsive, .right.responsive, a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .center.responsive a {
        float: none;
        display: block;
        text-align: left;
    }


}